<!-- views/admin.ejs -->
<!doctype html>
<html ng-app="formApp">
<head>
    <title>VPN Administration</title>
    <% include ./partials/head %>
</head>

<body>
<div class="container" ng-controller="formController">
<div class="row">
    <div class="col-sm-2 col-sm-offset-10">
	<a href="/logout">Log Out</a>
    </div>
</div>
<div ng-class="success ? 'alert alert-success' : 'alert alert-danger'" ng-show="success !== undefined">
    <p>{{action}} result: {{success}}</p>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <!--form action="/admin" method="post"-->
        <form> <!--ng-submit="submitAddUserAccount()"-->
	    <div class="row">
	        <div id="username-group" class="form-group col-sm-6">
	            <label>New Account</label>
	    	    <input type="text" class="form-control" name="username" ng-model="username" ng-required>
	        </div>
	        <div id="password-group" class="form-group col-sm-6">
		    <label>Password</label>
		    <input type="password" class="form-control" name="password" ng-model="password" ng-required>
	        </div>
	        <button ng-click="submitAddUserAccount()" class="btn btn-warning btn-md">Add User</button>
	        <button ng-click="submitDelUserAccount()" class="btn btn-warning btn-md">Delete User</button>
	    </div>

	</form>
    </div>
</div>

<script>
    var formApp = angular.module('formApp', []);
    formApp.controller('formController', function($scope, $http, $window){
    console.log('I am in formController');
	$scope.submitAddUserAccount = function() {
	    var dataObj = {
        source : 'adminpage',
		account : {
		    username : $scope.username,
		    password : $scope.password
		},
	    };
	    $http.post('/admin-add', dataObj).
		success(function(dataFromServer,status,headers,config){
            console.log(status);
		    console.log(dataFromServer);
            $scope.action = "Add Acount";
            $scope.success = dataFromServer.success;
		}).
		error(function(dataFromServer,status,headers,config){
            console.log(status);
		    console.log(dataFromServer);
            if(status === 401) {
                console.log('redirecting to /login');
                $window.location.href = '/login';
            } else {
                console.log('Cannot Add');
                $scope.action = "Add Acount";
                $scope.success = dataFromServer.success;
		        alert("submitting form failed!");
            }
		});
        }

        $scope.submitDelUserAccount = function() {
	    var dataObj = {
        source : 'adminpage',
		account : {
		    username : $scope.username,
		    password : $scope.password
		},
	    };
	    $http.post('/admin-del', dataObj).
		success(function(dataFromServer,status,headers,config){
            console.log(status);
		    console.log(dataFromServer);
            $scope.action = "Delete Acount";
            $scope.success = dataFromServer.success;
		}).
		error(function(dataFromServer,status,headers,config){
            console.log(status);
		    console.log(dataFromServer);
            if(status === 401) {
                $window.location.href = '/login';
            } else {
                $scope.action = "Delete Acount";
                $scope.success = dataFromServer.success;
		        alert("submitting form failed!");
            }
		});
        }
    });

</script>
</body>
</html>
